.register {
  position: relative;
  left: 112px;
  top: 125px;
  height: 880px;
  .main__wrap {
    position: absolute;
    .res__title {
      height: 48px;
      width: 156px;
      .title {
        position: relative;
        @include text($fs6, $fw4, $c-primary-dark, $lh4);
        width: 1090px;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          left: 0;
          top: 90px;
          height: 3px;
          background-color: $bg-c4-secondary;
        }
      }
    }
    .res__form {
      position: absolute;
      top: 90px;
      left: 0;
      .form__wrap {
        margin-top: 50px;
        width: 1090px;
        display: flex;
        justify-content: space-between;

        .form__left {
          width: 450px;
          margin-right: 50px;
          .emai__form {
            margin-bottom: 20px;
            .email__title {
              @extend .form__title;
            }
            .email {
              @extend .input__form;
            }
            .text__warning {
              @extend .text__warning;
            }
          }
          .pass__form {
            margin-bottom: 20px;
            .pass__title {
              @extend .form__title;
            }
            .pass__input {
              display: flex;
              position: relative;
              .password {
                @extend .input__form;
              }
              .show__icon {
                position: absolute;
                top: 13px;
                right: 30px;
                font-size: 20px;
                cursor: pointer;
              }
            }
          }
          .passconf__form {
            .passconf__title {
              @extend .form__title;
            }
            .pass__input {
              display: flex;
              position: relative;
              .passconf {
                @extend .input__form;
              }
              .show__icon {
                position: absolute;
                top: 13px;
                right: 30px;
                font-size: 20px;
                cursor: pointer;
              }
            }
          }
        }
        .form__right {
          width: 450px;
          .name__form {
            margin-bottom: 20px;
            .name__title {
              @extend .form__title;
            }
            .name {
              @extend .input__form;
            }
          }
          .phone__form {
            margin-bottom: 20px;
            .phone__title {
              @extend .form__title;
            }
            .phone {
              @extend .input__form;
            }
          }
          .gender__form {
            margin-bottom: 20px;
            display: flex;
            .gender__title {
              width: 80px;
              margin-right: 30px;
              @include text($fs3, $fw5, $c-primary-dark, $lh4);
            }
            .gender__check {
              display: flex;
              .male__check {
                padding-top: 10px;
                margin-right: 40px;

                .male__raddio {
                  width: 25px;
                  height: 24px;
                  margin-bottom: 15px;
                  display: block;
                }
                .male__title {
                  cursor: pointer;

                  @include text($fs2, $fw4, $c-primary-dark, $lh4);
                }
              }
              .female__check {
                padding-top: 10px;
                margin-right: 30px;
                .female__raddio {
                  width: 25px;
                  height: 24px;
                  margin-bottom: 15px;
                  display: block;
                }
                .female__title {
                  cursor: pointer;

                  @include text($fs2, $fw4, $c-primary-dark, $lh4);
                }
              }
            }
          }
          .button__submit {
            margin-top: 50px;
            .btn__submit {
              width: 121px;
              height: 48px;
              border: none;
              @include text($fs3, $fw4, $c-primary-light, $lh4);
              background-color: $bg-c11-secondary;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}
