.carousel__main {
  height: 530px;
  position: relative;
  .carousel__slide {
    .carousel__item {
      // position: absolute;
      display: flex;
      .carousel__image {
        width: 70%;
        img {
          position: absolute;
          top: 0;
          left: 10%;
          // transform: translate(-50%, -50%);
          transform: rotateY(180deg);
        }
      }
      .carousel__content {
        width: 50%;
        padding-bottom: 120px;
        padding-right: 150px;
       
        h2 {
        }
        p {
        }
        .btn__buy {
        }
      }
    }
  }
}

//====
.product {
  // height: 1044px;
  .container {
    .product__title {
      height: 74px;
      width: 698px;
      background: $bg-liner2;
      padding: 10px;
      @include text($fs6, $fw4, $c-primary-light, $lh4);
    }
  }
}
