.carousel {
  height: 530px;
  position: relative;
  top: 30px;
  margin-bottom: 80px;
  .carousel-indicators {
    position: absolute;
    button {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $bg-c5-secondary;
      padding: 5px;
      border: 1px solid $c-c5-secondary;
    }
  }

  .carousel-inner {
    position: absolute;
    top: 0;
    padding: 0 10%;
    height: 383px;
    .carousel-item.active {
      transition: transform 0.8s ease;
      display: flex;
      .card__left {
        height: 383px;
        width: 70%;
        img {
          transform: rotateY(180deg);
        }
      }
      .card__right {
        padding: 30px 0;
        margin-top: 70px;
        width: 50%;
        h5 {
          @include text($fs6, $fw4, $c-primary-dark, $lh4);
        }
        p {
          @include text($fs3, $fw3, $c-primary-dark, $lh4);
        }
        .btn__buy {
          height: 50px;
          padding: 15px;
          border: none;
          background-color: $bg-c7-secondary;
          text-align: center;
          @include text($fs3, $fw3, $c-primary-light, $lh1);
          &:hover {
          }
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    width: 7%;
  }
}

//====
.product {
  // height: 1044px;
  .container {
    .product__title {
      height: 74px;
      width: 698px;
      padding: 10px;
      @include text($fs6, $fw4, $c-primary-light, $lh4);
      background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
      margin-bottom: 20px;
    }
  }
}
