.header__main {
  background-color: rgb(183 164 97 / 87%);
  height: 68px;
  position: fixed;
  width: 100%;
  z-index: 5;
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
    .header__logo {
      width: 150px;
      height: 50px;
      margin-left: 20px;
      img {
        width: 100%;
      }
    }
    .header__content {
      height: 55px;
      text-align: center;
      ul {
        padding: 10px 0px;
        height: 100%;
        li {
          .header__search {
            @include text($fs5, $fw4, $c-primary-light, $lh1);
            transition: 0.5s all linear;
            &:hover{
              color: $c-c19-secondary !important;
            }
          }
        }
        li {
          .header__carts {
            display: flex;
            align-items: center;
            height: 30px;
            width: 75px;
            img {
              width: 100%;
              transform: scale3d(1.2, 1.2, 1.2);
              transition: 0.3s all linear;
              &:hover{
                transform: scale3d(1.5, 1.5, 1.5);
              }
              
            }
            span {
              padding-left: 10px;
              @include text($fs3, $fw4, $c-primary-light, $lh1);
              transition: 0.5s all linear;
              &:hover{
                color: $c-c19-secondary !important;
              }
            }
          }
        }
        .login__header {
          padding-top: 5px;
          .header__login {
            @include text($fs4, $fw4, $c-primary-light, $lh1);
            transition: 0.5s all linear;
            &:hover{
              color: $c-c19-secondary !important;
            }
          }
        }
        li {
          padding-top: 5px;
          .header__logout {
            @include text($fs4, $fw4, $c-primary-light, $lh1);
            transition: 0.5s all linear;
            &:hover{
              color: $c-c19-secondary !important;
            }
          }
        }
        li {
          padding-top: 5px;
          .header__user {
            @include text($fs4, $fw4, $c-primary-light, $lh1);
            transition: 0.5s all linear;
            &:hover{
              color: $c-c19-secondary !important;
            }
          }
        }
        .reg {
          padding-top: 5px;
          .header__register {
            @include text($fs4, $fw4, $c-primary-light, $lh1);
            transition: 0.5s all linear;

            &:hover{
              color: $c-c19-secondary !important;
            }
          }
        }
      }
    }
  }
}

.header__menu {
  height: 65px;
  position: absolute;
  top: 60px;
  z-index: 5;
  margin-top: 15px;
  .container-fluid {
    .navbar {
      .menu__wrap {
        button {
          span {
          }
        }
      }
      .navbar-collapse {
        .nav__menu {
          // padding-right: 10px;
          .nav__link {
            position: relative;
            margin-left: 15px;
            @include text($fs3, $fw3, $c-primary-dark, $lh1);

            &::before {
              width: 100%;
              position: absolute;
              content: "";
              height: 2px;
              left: 0;
              bottom: -2px;
              background-color: $bg-c5-secondary;
              transform: scale(0, 1);
              transition: linear 0.3s;
            }
            &:hover {
              color: $c-c7-secondary !important;
              &::before {
                transform: scale(1, 1);
              }
            }
          }
          .nav-link {
          }
        }
      }
    }
  }
}
