.card__pro{
  height: 400px;
  width: 334px;
  position: relative;
  margin: 10px;
  border: none;
  background-color: $bg-c1-secondary;
  box-shadow: 0px 4px 4px 0px #00000040;

  .card__img {
    position: absolute;
    display: flex;
    height: 200px;
    align-items: center;
    top: 15px;
    left: 15px;

    img {
      padding: 15px;
      width: 90%;
      &:hover{
        transform: scale(1.5);
      }
    }
    .product__heart {
      position: absolute;
      height: 50px;
      width: 45px;
      top: 0;
      right: 0;
      .button__heart{
        border: none;
        background: transparent;
        .fa-heart {
          font-size: 35px;
          color: $c-c17-secondary;
        }
      }
    }
  }
  .card__title {
    position: absolute;
    bottom: 88px;
    left: 30px;
    h3 {
      height: 29px;
      @include text($fs4, $fw3, $c-primary-dark, $lh1);
    }
    p {
      @include text($fs3, $fw4, $c-c3-secondary, $lh1);
    }
  }
  .card__des {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 64px;
    .btn__add {
      width: 175px;
      border: none;
      background-color: $bg-c6-secondary;
      @include text($fs4, $fw4, $c-primary-dark, $lh1);
      text-align: center;
      padding-top: 20px;
    }
    p {
      height: 64px;
      width: 160px;
      @include text($fs3, $fw4, $c-primary-dark, $lh1);
      background-color: $bg-c4-secondary;
      padding-top: 20px;
      padding-left: 50px;
    }
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
