
@mixin text($fs, $fw, $c, $lh) {
    font: {
        size: $fs;
        weight: $fw;
    }

    color: $c  !important;
    line-height: $lh;

}
@mixin wh($width,$height){
    width: $width;
    height: $height;
}

@mixin form__title ($h, $fs, $fw, $c, $lh){
   height: $h;
   font : {
       size: $fs;
       weight : $fw
   }
   color: $c;
   line-height: $lh;
}
@mixin form__input ($h, $w, $fs, $fw, $c, $lh, $bg-c,$bd) {

    width: $w;
    height: $h;
    font : {
        size: $fs;
        weight : $fw
    }
    color: $c;
    line-height: $lh;
    background-color:$bg-c;
    border: $bd;
    
}

// Khai báo kích thước tương ứng với màn hình thiết bị

$XS:     480px;   
$SM:     768px;  
// $SM:     876px;  
$MD:    1024px;   
$XL:   1170px;     

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: $XS) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (max-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (max-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL) { @content; } 
  }
}